* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #f3f3f3;
  font-size: 18px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
}

header p {
  margin: 5px 0 30px;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  color: #d5d5d5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

form {
  padding: 40px;
  background-color: rgba(27, 27, 50, 0.8);
}

input[type="text"], 
input[type="email"], 
input[type="number"], 
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0 30px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 16px;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus, 
select:focus {
  outline: none;
}

input[type="radio"] {
  scale: 1.5;
  border: 1px solid #ced4da;
  margin-right: 5px;
}

.radio-btn-container {
  margin: 10px 0;
}