* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #f3f3f3;
  font-size: 18px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
}

header p {
  margin: 5px 0 30px;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  color: #d5d5d5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}